---
import { getI18N } from "src/i18n";
import "../assets/css/index.css";
import Layout from "@layouts/Layout.astro";
import MarioNavbar from "@components/MarioNavbar.astro";
import OptionalCloudTitle from "@components/OptionalCloudTitle.astro";
import SocialLinks from "@components/SocialLinks.astro";
import Typewriter from "@components/Typewriter.astro";
import RadioBlockSelector from "@components/RadioBlockSelector.astro";
import RadioBlockSelectorOption from "@components/RadioBlockSelectorOption.astro";
import MarioSlider from "./MarioSlider.astro";
import ProjectCard from "./ProjectCard.astro";
import Skill from "./Skill.astro";
import Castle from "./sprites/Castle.astro";
import FloorBlock from "./sprites/FloorBlock.astro";
import Flagpole from "./sprites/Flagpole.astro";
import Study from "./Study.astro";
import MarioStarList from "./MarioStarList.astro";
import UndergroundParagraph from "./UndergroundParagraph.astro";
import MarioHobbieTube from "./MarioHobbieTube.astro";
import Tree from "./sprites/Tree.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
	<MarioNavbar
		navlinks={[
			{ text: i18n.SECTIONS.home.navText, link: i18n.SECTIONS.home.id },
			{
				text: i18n.SECTIONS.projects.navText,
				link: i18n.SECTIONS.projects.id,
			},
			{
				text: i18n.SECTIONS.skills.navText,
				link: i18n.SECTIONS.skills.id,
			},
			{
				text: i18n.SECTIONS.studies.navText,
				link: i18n.SECTIONS.studies.id,
			},
			{ text: i18n.SECTIONS.about.navText, link: i18n.SECTIONS.about.id },
			{
				text: i18n.SECTIONS.contact.navText,
				link: i18n.SECTIONS.contact.id,
			},
		]}
	/>
	<main class="w-full flex flex-col">
		<section
			id={i18n.SECTIONS.home.id}
			class="flex flex-col gap-8 w-full mt-20 text-center"
		>
			<RadioBlockSelector title="Theme">
				<RadioBlockSelectorOption
					radioId="overworld"
					radioName="theme"
					radioValue="overworld"
					blocksColor="text-mario-ground&block-overworld-main"
					bordersColor="text-mario-ground&block-overworld-borders"
					checked={true}
				/>
				<RadioBlockSelectorOption
					radioId="underworld"
					radioName="theme"
					radioValue="underworld"
					blocksColor="text-mario-ground&block-underworld-main"
					bordersColor="text-mario-ground&block-underworld-borders"
					checked={false}
				/>
				<RadioBlockSelectorOption
					radioId="underwater"
					radioName="theme"
					radioValue="underwater"
					blocksColor="text-mario-ground&block-underwater-main"
					bordersColor="text-mario-ground&block-underwater-borders"
					checked={false}
				/>
				<RadioBlockSelectorOption
					radioId="castle"
					radioName="theme"
					radioValue="castle"
					blocksColor="text-mario-ground&block-castle-main"
					bordersColor="text-mario-ground&block-castle-borders"
					checked={false}
				/>
			</RadioBlockSelector>
			<OptionalCloudTitle title={i18n.SECTIONS.home.cloudTitle} />
			<div class="w-full min-h-16 block">
				<Typewriter
					text={i18n.TYPEWRITER_TITLE}
					speed={//@ts-ignore
					i18n.OPTIONAL_TYPEWRITER_SPEED ?? 70}
					class="text-xl font-p2 max-w-prose min-h-10 mx-auto"
					headingLevel={1}
				/>
			</div>
		</section>
		<SocialLinks
			items={[
				{
					aLink: i18n.SOCIAL_LINKS.linkedin,
					aTitle: "Linkedin",
					iconLink: "/src/assets/svgs/linkedin.svg",
					iconAlt: "Linkedin Icon",
					cloudClass: "translate-y-2",
					iconClass: "bg-white",
				},
				{
					aLink: i18n.SOCIAL_LINKS.github,
					aTitle: "GitHub",
					iconLink: "/src/assets/svgs/github.svg",
					iconAlt: "GitHub Icon",
					cloudClass: "-translate-y-5",
					iconClass: "bg-white",
				},
				{
					aLink: i18n.SOCIAL_LINKS.resume,
					aTitle: "Resume/CV",
					iconLink: "/src/assets/svgs/resume.svg",
					iconAlt: "Resume/CV Icon",
					cloudClass: "mt-12",
					iconClass: "bg-white",
				},
			]}
		/>
		<section id={i18n.SECTIONS.projects.id} class="mt-20">
			<OptionalCloudTitle title={i18n.SECTIONS.projects.cloudTitle} />
			<MarioSlider>
				{
					i18n.PROJECTS.map((p) => {
						return (
							<ProjectCard
								title={p.title}
								imageURL={p.imgURL}
								imageAlt={p.imgAlt}
								techstack={p.techstack}
								repositoryURL={p.repo}
								deployURL={p.deploy}
							/>
						);
					})
				}
			</MarioSlider>
		</section>
		<section
			id={i18n.SECTIONS.skills.id}
			class="flex flex-col gap-12 mt-20"
		>
			<OptionalCloudTitle title={i18n.SECTIONS.skills.cloudTitle} />
			<article
				class="flex flex-col justify-center items-center px-8 w-full"
			>
				<h3 class="font-p2 text-2xl text-center mb-10">
					{i18n.SKILLS.SKILLS_TITLES.CURRENT}
				</h3>
				<div
					class="flex flex-wrap justify-center sm:justify-start gap-10"
				>
					{
						i18n.SKILLS.SKILLS_CURRENT.map((s) => {
							return (
								<Skill
									skillIconURL={s.iconURL}
									skillIconAlt={s.iconAlt}
									skillIconTitle={s.iconTitle}
									class="w-16 sm:w-24 hover:scale-110 transition-transform"
								/>
							);
						})
					}
				</div>
			</article>
			<article class="w-full">
				<h3 class="font-p2 text-2xl text-center mb-8">
					{i18n.SKILLS.SKILLS_TITLES.FUTURE}
				</h3>
				<div class="flex flex-wrap justify-center gap-10">
					{
						i18n.SKILLS.SKILLS_FUTURE.map((s) => {
							return (
								<Skill
									skillIconURL={s.iconURL}
									skillIconAlt={s.iconAlt}
									skillIconTitle={s.iconTitle}
									float={true}
									class="w-16 sm:w-24"
								/>
							);
						})
					}
				</div>
			</article>
		</section>
		<section id={i18n.SECTIONS.studies.id} class="relative mt-20">
			<OptionalCloudTitle title={i18n.SECTIONS.studies.cloudTitle} />
			<div
				class="relative h-full w-full flex flex-col gap-0 items-center"
			>
				{
					i18n.STUDIES.map((s) => {
						return <Study {...s} flag={true} />;
					})
				}
				<Castle class="aspect-[144/176] w-1/2 translate-y-[1px]" />
				<Flagpole
					class="absolute w-full h-full bottom-4 sm:bottom-8 -z-10"
				/>
				<FloorBlock class="w-full h-4 sm:h-8" />
			</div>
		</section>
		<section id={i18n.SECTIONS.about.id} class="mt-20">
			<OptionalCloudTitle title={i18n.SECTIONS.about.cloudTitle} />
			<article>
				<h3 class="font-p2 text-2xl text-center mb-8">
					{i18n.ABOUT.DESCRIPTION_TITLE}
				</h3>
				{
					typeof i18n.ABOUT.DESCRIPTION === "string" ? (
						<UndergroundParagraph
							bushes={true}
							class="w-full h-fit"
							text={i18n.ABOUT.DESCRIPTION}
						/>
					) : (
						<MarioStarList
							class="w-fit mx-auto"
							list={i18n.ABOUT.DESCRIPTION}
						/>
					)
				}
			</article>
			<article class="mt-12">
				<h3 class="font-p2 text-2xl text-center mb-8">
					{i18n.ABOUT.HOBBIES_TITLE}
				</h3>
				<div
					class="flex flex-wrap justify-center items-center gap-12 sm:gap-28"
				>
					{
						i18n.ABOUT.HOBBIES.map((h) => {
							return (
								<MarioHobbieTube
									iconURL={h.iconURL}
									title={h.name}
									class="w-40 max-w-[35%]"
								/>
							);
						})
					}
				</div>
			</article>
		</section>
		<section id={i18n.SECTIONS.contact.id} class="mt-20">
			<OptionalCloudTitle title={i18n.SECTIONS.contact.cloudTitle} />
			<h3
				class="w-[90%] mx-auto font-p2 text-balance text-xl max-w-prose"
			>
				{i18n.CONTACT.CONTACT_LEGEND}
			</h3>
			<Tree class="w-full" />
		</section>
	</main>
</Layout>
